<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>

<a href="/admin/new" class="button btn-add">Add New User</a>

<body>

<h2>Admin Panel</h2>

<a href="/admin/new" class="button btn-add">Add New User</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.firstName}"></td>
        <td th:text="${u.lastName}"></td>
        <td th:text="${u.age}"></td>
        <td>
            <a th:href="@{/admin/edit(id=${u.id})}" class="button btn-edit">Edit</a>
            <a th:href="@{/admin/delete(id=${u.id})}" class="button btn-delete">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>

</body>
</html>