<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="page-header">
        <div>
            <h1 class="page-title">User Page</h1>
            <p class="page-subtitle">Your personal information.</p>
        </div>
    </div>

    <div class="card">
        <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
        <p><strong>First name:</strong> <span th:text="${user.firstName}"></span></p>
        <p><strong>Last name:</strong> <span th:text="${user.lastName}"></span></p>
        <p><strong>Age:</strong> <span th:text="${user.age}"></span></p>
    </div>
    <br>
    <div class="actions">
        <a class="btn btn-secondary" th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">
            Back to Admin
        </a>

        <form th:action="@{/logout}" method="post">
            <button class="logout-btn" type="submit">Logout</button>
        </form>
    </div>

</div>
</body>
</html>